*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
form {
    position: relative;
    margin: 35px 0;
    width: 70%;
    left: 32%;
    display:flex;
    box-sizing: border-box;
}
.heading {
    text-align: center;
    margin: 15px 0;
    font-size: 1rem;
}
.section-left{
    position: relative;
    left: -30%;
    line-height: 25px;
    margin-left: 70px;
}
.section-left h1{
    font-size: 18px;
    color: #333;
    margin: 15px 0 10px 0;
}
.small-title {
    font-size: 12px;
    color: #4F4F4F;
    position: relative;
}
.input{
    position: relative;
    border: 1px solid #828282;
    padding: 3px 50px 3px 10px;
    color: #828282;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
}
.input input{
    font-size: 14px;
    font-family: arial,sans-serif;
    outline: none;
    border: none;
    margin-left: 5px;
}
.shipping{
    margin: 50px 0 10px 0;
}
.country-post--code{
    margin: 25px 0 15px 0;
    display: flex;
}
.input-post{
    position: relative;
    border: 1px solid #828282;
    padding: 3px 20px 3px 10px;
    color: #828282;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    margin: 5px 10px;
}
.input-post input{
    font-size: 14px;
    font-family: arial,sans-serif;
    outline: none;
    border: none;
    margin-left: 5px;
}
.post-code-container{
    position: relative;
}
.code-title{
    padding: 0 0 0 10px;
}
select{
    font-size: 13.33px;
    font-family: arial,sans-serif;
    outline: none;
    border: none;
    margin-left: 10px;
    box-sizing: border-box;
}
.container-country{
    position: relative;
    border: 1px solid #828282;
    color: #828282;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    padding: 7px 0;
    display:flex;
}
#btn-submit{
    float: right;
    position: absolute;
    margin-right: -65px;
    border: none;
    outline: none;
    background-color: #f2994a;
    border-radius: 10px;
    padding: 14px 0;
    color: white;
    width: 20%;
    font-weight: 600;
    text-align: center;
    right: 0;
    
}
.section-right{
    position: relative;
}
.product-painel{
    /* position: absolute; */
    background-color: #eeeeee;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    margin-left: -170px;
    margin-right: 350px
}
.product{
    display: flex;
    position: relative;
    margin: 10px 0;
    width: 100%;
}
img{
    border-radius: 10px;
    margin-right: 20px;
}
.product-info{
    font-family: Mon, Arial, Helvetica, sans-serif;
    width: 100%;
}
.product-info h2{
    font-size: 16px;
    color: #4E5150;
    margin: 5px 0;
}
.product-info p{
    font-size: 12px;
    color:#4E5150;
    margin: 5px 0;
}
.product-info p strong{
    color: #f2994a;
    font-size: 16px;
    font-weight: 600;
}
span{
    text-decoration: line-through;
}
.quantity{
    display: flex;
    margin-top: 25px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    justify-content: space-around;
    width: 50%;
}
.quantity button{
    margin: 5px 0;
    border: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.quantity button, p {
    position: relative;
    display: block;
}
.quantity p{
    margin: auto 0;
}
#shipping {
    margin-top: 50px;
}
.buy-detail {
    margin: 5px 0;
    border-top: 1px solid #BDBDBD;
    display: flex;
    position: relative;
    width: 90%;
    font-family: Mon, Arial, Helvetica, sans-serif;
}
.buy-detail p {
    display: block;
    width: 50%;
}
.buy-detail p:nth-child(2){
    text-align: right;
}